HELP.md
.gradle
build/
withswaggerfile.build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/withswaggerfile.build/
!**/src/test/**/withswaggerfile.build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA keeping CodeStyles ###
# IDE - IntelliJ
/.idea/*
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# Keep the inspection levels
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Terraform ###
**/.terraform*

### Versioning ###
src/main/resources/version.txt
src/main/resources/groupId.txt
src/main/resources/artifactId.txt
version.txt
groupId.txt
artifactId.txt

### Automation ###
/automation/remote
/infrastructure
/containers
/hooks
/.idea/
/.idea/codeStyles/*
backstage.yaml
src/main/resources/dependencies.properties
